header {
  background-color: var(--color-bg-header);
  height: 15rem;
  border-bottom: 1.5rem solid var(--color-text);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

header img {
  height: 10rem;
  transform: translateY(1rem);
}

.ball {
  position: absolute;
  box-sizing: content-box;
  background-color: var(--color-text);
  width: 3rem;
  height: 3rem;
  border: 1.2rem solid white;
  outline: 1.2rem solid var(--color-text);
  left: 50%;
  transform: translate(-50%, 11.6rem);
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  header {
    height: 10rem;
    border-bottom: 0.8rem solid var(--color-text);
  }

  header img {
    height: 7rem;
    transform: translateY(1.2rem);
  }

  .ball {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 8rem;
    border-bottom: 0.5rem solid var(--color-text);
  }

  header img {
    height: 6rem;
    transform: translateY(0.8rem);
  }
}
