@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg-header: #ea524f;
  --color-bg-btn: #1c4284;
  --color-bg-body: #f0e8e8;
  --color-bg-card: radial-gradient(#efe2bd, #ffbb4699);
  --color-border-card: #ccc;
  --color-text: #505053;
  --box-shadow: 5px 10px 18px rgb(0, 0, 0, 0.35);
  --box-shadow-active: 5px 10px 10px rgb(0, 0, 0, 0.35);
  --box-shadow-phone: 5px 3px 5px rgb(0, 0, 0, 0.15);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg-body);
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-variant-numeric: tabular-nums;
  overflow: overlay;
}

.no-scroll {
  overflow: hidden;
}
